* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

 
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 1.72rem;
  margin-bottom:1.5rem ;
}
h2{
  font-size: 1.44rem;
  margin-bottom: 1.25rem;
}
h3{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
h4{
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 120%;
}

.button {
  
  display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   border-radius: 0.25rem;
   height: 40px;
   transition: all 0.2s ease-in;
}


.button-primary{
  background-color: black;
   color: white;
}

.button-primary:hover {
  background-color: rgb(43, 42, 42);
}
   
.button-secondary{
   
   color: black;
   border: 1px solid black;
  
}
.button-secondary:hover {
  background-color: black;
  color: white;
}

.buttonHolder {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
p {
  font-size: 1rem;
  line-height: 170%;
  color: rgb(59, 58, 58);
}

#logo {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.2rem;

}

.container {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
header {
  height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid darkgray;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menuButton {
  background-color: transparent;
  border: none;

}
nav{
  display: none;
}
#section-about {
  background-color: rgb(192, 192, 192);
}
.bloglist{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}
.blog img {
  width: 100%;
}
.blog p {
  font-size: 0.9rem;
}

@media  only screen and (min-width: 576px) {
  .bloglist {
      display: grid;
      grid-template-columns: 1fr 1fr ;
  }
  }
  @media  only screen and (min-width: 768px) {
      .bloglist
      {
          grid-template-columns: 1fr 1fr 1fr;
      }
      #menuButton {
          display: none;
      }

      nav {
          display: block;
      }
      #navlist{
          display: flex;
          flex-direction: row;
          gap: 1.5rem;
          list-style: none;

      }
          #navlist a{
              text-decoration: none;
              color: rgb(78, 63, 63);
          }

          #navlist a:hover{
              text-decoration: underline;
          }
      
  }
  @media  only screen and (min-width: 992px) {
      .bloglist
      {
          grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      
  }
  @media  only screen and (min-width: 1200px) {

      .bloglist
      {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      
      h1{
          font-size: 2.98rem;
      }
      h2{
          font-size: 2.48rem;
      }
      h3{
          font-size: 2.07rem;
      }
      h4{
          font-size: 1.7rem;
      }
  }









